ol {
  list-style-type: decimal !important;
  margin-top: 1rem !important;
}

ol li {
  margin-bottom: 0.5rem !important;
}

.important-note {
  background-color: #F27F3D !important;
  border-left: 4px solid #F2AA80 !important;
  color: #000 !important;
  padding: 1rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  border-radius: 0 4px 4px 0;
}

.important-note code {
  background-color: #F29441 !important;
  color: #000 !important;
}
